.link {
    text-decoration: none;
}

/*  */
/* Header */
/*  */
.header {
    display: flex;
    flex-flow: row nowrap;
    width: 1338px;
    height: 70px;
    justify-content: space-around;
}

/*logo */
.logo-color1 {
    width: 106px;
    height: 54px;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

.logo-color2 {
    color: #939393;
}

.header-nav-container {
    width: 563px;
    height: 30px;
    display: flex;
    flex-flow: row nowrap;
    color: #263238;
    list-style: none;
    justify-content: space-around;


}

.header-nav-links {
    text-decoration: none;
    color: #263238;
}

.header-button {
    width: 312px;
    height: 70px;
    border: 2px solid #263238;
    border-radius: 10px;
}


.main-section {
    width: 1338px;
    height: 548px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.left-side {
    width: 540px;
    height: 548px;
    display: flex;
    flex-flow: column nowrap;
}

.main-title {
    text-align: left;
    font-size: 64px;
    line-height: 80px;
}

.main-button {
    width: 426px;
    height: 100px;
    background: #263238;
    border-radius: 10px;
    color: white;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;
}

.main-description {
    font-size: 24px;
    line-height: 36px;
}

.right-side {
    width: 654px;
    height: 510px;
    display: flex;
    flex-flow: column;
}